.dark-theme {
  --background-color: #292929;
  --text-color: #6E6E6E;
  --black:#fff;
  --white: #292929;
  --gray: #6E6E6E;
  --gray-light: #DCDCDC;
  --dark-gray: #6E6E6E;
  --background-light: #292929;
  --background-content: #2e2e2e;
  --background-input: #F0EFEE;
  --border-color: #484848;
  --order-color-light: #eee;
  --text-color: #6E6E6E;
  --shadow: rgba(149, 157, 165, 0.2);
}