:root {
  --background-color: #fff;
  --text-color: #6E6E6E;
  --black:#292929;
  --white: #fff;
  --gray: #EBEBEB;
  --gray-light: #DCDCDC;
  --dark-gray: #6E6E6E;
  --background-light: #F9F8F7;
  --background-content: #F7F6F4;
  --background-input: #F0EFEE;
  --border-color: #E0DEDA;
  --order-color-light: #eee;
  --text-color: #6E6E6E;
  --shadow: rgba(149, 157, 165, 0.2);
}
