.tasks {
  &-header {
    @include header(null);
    color: var(--text-color);
    text-transform: capitalize;
    i {
      cursor: pointer;
      margin-#{$left}: $spacing-one;
    }
  }
  &-content {
    display: flex;
    padding: $spacing-one 0;
    border-bottom: 1px solid $border-color-light;
  }
  .chart {
    flex-grow: 1;
  }
  &-list {
    width: 100%;
    &__item {
      color: var(--black);
      padding: .5em;
      margin-bottom: 5px;
      &:nth-child(odd) {
        background-color: var(--gray);
        color: var(--dark-gray);
      }
    }
  }
}
